.mainContainer {
    min-height: 100vh;
    padding-bottom: 26px;
    box-sizing: border-box;
    background-color: $background;
}

.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    gap: 24px;
}

.mainLeftBar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}